In [52]:
import pandas as pd

In [53]:
df = pd.read_csv('Credit Card Defaulter Prediction.csv')

In [54]:
df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default
0,1,20000,F,University,Married,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,Y
1,2,120000,F,University,Single,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,Y
2,3,90000,F,University,Single,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,N
3,4,50000,F,University,Married,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,N
4,5,50000,M,University,Married,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,N

In [55]:
df.shape

(30000, 25)

In [56]:
df.isnull().sum()

ID           0
LIMIT_BAL    0
SEX          0
EDUCATION    0
MARRIAGE     0
AGE          0
PAY_0        0
PAY_2        0
PAY_3        0
PAY_4        0
PAY_5        0
PAY_6        0
BILL_AMT1    0
BILL_AMT2    0
BILL_AMT3    0
BILL_AMT4    0
BILL_AMT5    0
BILL_AMT6    0
PAY_AMT1     0
PAY_AMT2     0
PAY_AMT3     0
PAY_AMT4     0
PAY_AMT5     0
PAY_AMT6     0
default      0
dtype: int64

In [57]:
df.drop('ID' , axis = 1 , inplace = True)

In [58]:
df.tail()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default
29995,220000,M,High School,Married,39,0,0,0,0,0,...,88004,31237,15980,8500,20000,5003,3047,5000,1000,N
29996,150000,M,High School,Single,43,-1,-1,-1,-1,0,...,8979,5190,0,1837,3526,8998,129,0,0,N
29997,30000,M,University,Single,37,4,3,2,-1,0,...,20878,20582,19357,0,0,22000,4200,2000,3100,Y
29998,80000,M,High School,Married,41,1,-1,0,0,0,...,52774,11855,48944,85900,3409,1178,1926,52964,1804,Y
29999,50000,M,University,Married,46,0,0,0,0,0,...,36535,32428,15313,2078,1800,1430,1000,1000,1000,Y

In [59]:
df.columns

Index(['LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0', 'PAY_2',
       'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6', 'default '],
      dtype='object')

In [60]:
df.columns = ['LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0', 'PAY_2',
       'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6', 'default']

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 24 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   LIMIT_BAL  30000 non-null  int64
 1   SEX        30000 non-null  object
 2   EDUCATION  30000 non-null  object
 3   MARRIAGE   30000 non-null  object
 4   AGE        30000 non-null  int64
 5   PAY_0      30000 non-null  int64
 6   PAY_2      30000 non-null  int64
 7   PAY_3      30000 non-null  int64
 8   PAY_4      30000 non-null  int64
 9   PAY_5      30000 non-null  int64
 10  PAY_6      30000 non-null  int64
 11  BILL_AMT1  30000 non-null  int64
 12  BILL_AMT2  30000 non-null  int64
 13  BILL_AMT3  30000 non-null  int64
 14  BILL_AMT4  30000 non-null  int64
 15  BILL_AMT5  30000 non-null  int64
 16  BILL_AMT6  30000 non-null  int64
 17  PAY_AMT1   30000 non-null  int64
 18  PAY_AMT2   30000 non-null  int64
 19  PAY_AMT3   30000 non-null  int64
 20  PAY_AMT4   30000 non-null  int64
 21  PAY_AMT5   30000 non-null  int64
 22  PAY_AMT6   30000 non-null  int64
 23  default    30000 non-null  object
dtypes: int64(20), object(4)
memory usage: 5.5+ MB

In [62]:
df['SEX'].value_counts()

SEX
F    18112
M    11888
Name: count, dtype: int64

In [63]:
df['EDUCATION'].value_counts()

EDUCATION
University         14030
Graduate school    10585
High School         4917
Unknown              331
Others               123
0                     14
Name: count, dtype: int64

In [64]:
df['EDUCATION']= df['EDUCATION'].str.replace('0' , 'No_Education')
df['EDUCATION']= df['EDUCATION'].str.replace(' ' , '_')

In [65]:
df['MARRIAGE'].value_counts()

MARRIAGE
Single     15964
Married    13659
Other        323
0             54
Name: count, dtype: int64

In [66]:
df['MARRIAGE']= df['MARRIAGE'].str.replace('0' , 'Unknown')

In [67]:
new_df = df.copy()

In [68]:
new_df.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default
0,20000,F,University,Married,24,2,2,-1,-1,-2,...,0,0,0,0,689,0,0,0,0,Y
1,120000,F,University,Single,26,-1,2,0,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,Y
2,90000,F,University,Single,34,0,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,N
3,50000,F,University,Married,37,0,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,N
4,50000,M,University,Married,57,-1,0,-1,0,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,N

In [69]:
new_df.to_csv('model.csv' , index = False)

In [70]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OrdinalEncoder

In [71]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 24 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   LIMIT_BAL  30000 non-null  int64
 1   SEX        30000 non-null  object
 2   EDUCATION  30000 non-null  object
 3   MARRIAGE   30000 non-null  object
 4   AGE        30000 non-null  int64
 5   PAY_0      30000 non-null  int64
 6   PAY_2      30000 non-null  int64
 7   PAY_3      30000 non-null  int64
 8   PAY_4      30000 non-null  int64
 9   PAY_5      30000 non-null  int64
 10  PAY_6      30000 non-null  int64
 11  BILL_AMT1  30000 non-null  int64
 12  BILL_AMT2  30000 non-null  int64
 13  BILL_AMT3  30000 non-null  int64
 14  BILL_AMT4  30000 non-null  int64
 15  BILL_AMT5  30000 non-null  int64
 16  BILL_AMT6  30000 non-null  int64
 17  PAY_AMT1   30000 non-null  int64
 18  PAY_AMT2   30000 non-null  int64
 19  PAY_AMT3   30000 non-null  int64
 20  PAY_AMT4   30000 non-null  int64
 21  PAY_AMT5   30000 non-null  int64
 22  PAY_AMT6   30000 non-null  int64
 23  default    30000 non-null  object
dtypes: int64(20), object(4)
memory usage: 5.5+ MB

In [72]:
from sklearn.preprocessing import OneHotEncoder

ct1 = ColumnTransformer(
    transformers = [
        ('cat', OneHotEncoder(handle_unknown='ignore'), ['SEX', 'EDUCATION', 'MARRIAGE'])
    ],
    remainder='passthrough'
)

In [73]:
new_df

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default
0,20000,F,University,Married,24,2,2,-1,-1,-2,...,0,0,0,0,689,0,0,0,0,Y
1,120000,F,University,Single,26,-1,2,0,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,Y
2,90000,F,University,Single,34,0,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,N
3,50000,F,University,Married,37,0,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,N
4,50000,M,University,Married,57,-1,0,-1,0,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,220000,M,High_School,Married,39,0,0,0,0,0,...,88004,31237,15980,8500,20000,5003,3047,5000,1000,N
29996,150000,M,High_School,Single,43,-1,-1,-1,-1,0,...,8979,5190,0,1837,3526,8998,129,0,0,N
29997,30000,M,University,Single,37,4,3,2,-1,0,...,20878,20582,19357,0,0,22000,4200,2000,3100,Y
29998,80000,M,High_School,Married,41,1,-1,0,0,0,...,52774,11855,48944,85900,3409,1178,1926,52964,1804,Y
29999,50000,M,University,Married,46,0,0,0,0,0,...,36535,32428,15313,2078,1800,1430,1000,1000,1000,Y

In [74]:
new_df['default'] = new_df['default'].map({'Y' : 1 , 'N' : 0})

In [75]:
x = new_df.drop('default' , axis = 1 ) 
y = new_df['default']

In [76]:
from sklearn.model_selection import train_test_split

In [77]:
x_train , x_test , y_train , y_test = train_test_split(x, y, test_size = 0.2 , random_state = 42)

In [78]:
from imblearn.pipeline import Pipeline
from imblearn.over_sampling import *

In [79]:
ct2 = SMOTE(random_state = 42)

In [80]:
from sklearn.ensemble import RandomForestClassifier
from catboost import CatBoostClassifier

In [81]:
ct3 = CatBoostClassifier(
    iterations=500,
    depth=8,
    learning_rate=0.05,
    loss_function='Logloss',
    eval_metric='AUC',
    random_seed=42,
    verbose=100
)

In [82]:
pipe = Pipeline([
    ('p1' , ct1) , 
    # ('p2' , ct2) , 
    ('p3' , ct3) , 
])

In [83]:
pipe.fit(x_train  , y_train)

0:	total: 15.4ms	remaining: 7.68s
100:	total: 1.61s	remaining: 6.37s
200:	total: 3.58s	remaining: 5.33s
300:	total: 5.56s	remaining: 3.67s
400:	total: 7.3s	remaining: 1.8s
499:	total: 8.95s	remaining: 0us

Pipeline(steps=[('p1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('cat',
                                                  OneHotEncoder(handle_unknown='ignore'),
                                                  ['SEX', 'EDUCATION',
                                                   'MARRIAGE'])])),
                ('p3',
                 <catboost.core.CatBoostClassifier object at 0x00000171A34DF8B0>)])

In [84]:
y_pred = pipe.predict(x_test)

In [85]:
pipe.score(x_train , y_train)

np.float64(0.869875)

In [86]:
pipe.score(x_test , y_test)

np.float64(0.8193333333333334)

In [87]:
from sklearn.metrics import *

In [88]:
accuracy_score(y_test , y_pred)

0.8193333333333334

In [89]:
print(classification_report(y_test , y_pred))

              precision    recall  f1-score   support

           0       0.84      0.95      0.89      4687
           1       0.66      0.36      0.47      1313

    accuracy                           0.82      6000
   macro avg       0.75      0.65      0.68      6000
weighted avg       0.80      0.82      0.80      6000

In [90]:
print(confusion_matrix(y_test , y_pred))

[[4440  247]
 [ 837  476]]

In [91]:
from sklearn.metrics import classification_report, confusion_matrix, roc_auc_score

# Probability
y_prob = pipe.predict_proba(x_test)[:,1]

# ROC AUC
print("ROC-AUC:", roc_auc_score(y_test, y_prob))

# Default threshold = 0.5
y_default = (y_prob >= 0.5).astype(int)
print("\nDefault Threshold Results:")
print(classification_report(y_test, y_default))

# Custom threshold
threshold = 0.35
y_custom = (y_prob >= threshold).astype(int)
print("\nCustom Threshold Results:")
print(classification_report(y_test, y_custom))
print(confusion_matrix(y_test, y_custom))

ROC-AUC: 0.7761756481239694

Default Threshold Results:
              precision    recall  f1-score   support

           0       0.84      0.95      0.89      4687
           1       0.66      0.36      0.47      1313

    accuracy                           0.82      6000
   macro avg       0.75      0.65      0.68      6000
weighted avg       0.80      0.82      0.80      6000


Custom Threshold Results:
              precision    recall  f1-score   support

           0       0.86      0.90      0.88      4687
           1       0.58      0.49      0.54      1313

    accuracy                           0.81      6000
   macro avg       0.72      0.70      0.71      6000
weighted avg       0.80      0.81      0.81      6000

[[4223  464]
 [ 664  649]]

In [93]:
import joblib

In [94]:
joblib.dump(pipe, 'uci_classification_model.pkl')

['uci_classification_model.pkl']