In [1]:
! mkdir ~/.kaggle
! cp kaggle.json ~/.kaggle/
! chmod 600 ~/.kaggle/kaggle.json

In [2]:
#!/bin/bash
! kaggle datasets download sagnikpatra/uci-adult-census-data-dataset

Dataset URL: https://www.kaggle.com/datasets/sagnikpatra/uci-adult-census-data-dataset
License(s): other
Downloading uci-adult-census-data-dataset.zip to /content
  0% 0.00/728k [00:00<?, ?B/s]
100% 728k/728k [00:00<00:00, 1.06GB/s]

In [3]:
import zipfile
zip_ref = zipfile.ZipFile('/content/uci-adult-census-data-dataset.zip', 'r')
zip_ref.extractall('/content')
zip_ref.close()

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('/content/adult_train.csv')

In [6]:
test_df = pd.read_csv('/content/adult_test.csv')

In [7]:
df.shape

(32561, 15)

In [8]:
df.isnull().sum()

Age                  0
Workclass         1836
fnlwgt               0
Education            0
Education_Num        0
Martial_Status       0
Occupation        1843
Relationship         0
Race                 0
Sex                  0
Capital_Gain         0
Capital_Loss         0
Hours_per_week       0
Country            583
Target               0
dtype: int64

In [9]:
df.dropna(inplace = True)

In [10]:
df.isna().sum()

Age               0
Workclass         0
fnlwgt            0
Education         0
Education_Num     0
Martial_Status    0
Occupation        0
Relationship      0
Race              0
Sex               0
Capital_Gain      0
Capital_Loss      0
Hours_per_week    0
Country           0
Target            0
dtype: int64

In [11]:
df.head()

,Age,Workclass,fnlwgt,Education,Education_Num,Martial_Status,Occupation,Relationship,Race,Sex,Capital_Gain,Capital_Loss,Hours_per_week,Country,Target
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 30162 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             30162 non-null  int64
 1   Workclass       30162 non-null  object
 2   fnlwgt          30162 non-null  int64
 3   Education       30162 non-null  object
 4   Education_Num   30162 non-null  int64
 5   Martial_Status  30162 non-null  object
 6   Occupation      30162 non-null  object
 7   Relationship    30162 non-null  object
 8   Race            30162 non-null  object
 9   Sex             30162 non-null  object
 10  Capital_Gain    30162 non-null  int64
 11  Capital_Loss    30162 non-null  int64
 12  Hours_per_week  30162 non-null  int64
 13  Country         30162 non-null  object
 14  Target          30162 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [13]:
df['Target'].value_counts()

Target
<=50K    22654
>50K      7508
Name: count, dtype: int64

In [14]:
df['Workclass'] = df['Workclass'].str.replace('-' , '_')
df['Education'] = df['Education'].str.replace('-' , '_')
df['Martial_Status'] = df['Martial_Status'].str.replace('-' , '_')
df['Occupation'] = df['Occupation'].str.replace('-' , '_')
df['Relationship'] = df['Relationship'].str.replace('-' , '_')
df['Race'] = df['Race'].str.replace('-' , '_')
df['Country'] = df['Country'].str.replace('-' , '_').str.replace('&' , '_').str.replace('(' , '_').str.replace(')' , '')

In [15]:
df.head()

,Age,Workclass,fnlwgt,Education,Education_Num,Martial_Status,Occupation,Relationship,Race,Sex,Capital_Gain,Capital_Loss,Hours_per_week,Country,Target
0,39,State_gov,77516,Bachelors,13,Never_married,Adm_clerical,Not_in_family,White,Male,2174,0,40,United_States,<=50K
1,50,Self_emp_not_inc,83311,Bachelors,13,Married_civ_spouse,Exec_managerial,Husband,White,Male,0,0,13,United_States,<=50K
2,38,Private,215646,HS_grad,9,Divorced,Handlers_cleaners,Not_in_family,White,Male,0,0,40,United_States,<=50K
3,53,Private,234721,11th,7,Married_civ_spouse,Handlers_cleaners,Husband,Black,Male,0,0,40,United_States,<=50K
4,28,Private,338409,Bachelors,13,Married_civ_spouse,Prof_specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

# Test Data Cleaning

In [16]:
test_df.isnull().sum()

Age                 0
Workclass         964
fnlwgt              1
Education           1
Education_Num       1
Martial_Status      1
Occupation        967
Relationship        1
Race                1
Sex                 1
Capital_Gain        1
Capital_Loss        1
Hours_per_week      1
Country           275
Target              1
dtype: int64

In [17]:
test_df.shape

(16282, 15)

In [18]:
test_df.dropna(inplace = True)

In [19]:
test_df.isna().sum()

Age               0
Workclass         0
fnlwgt            0
Education         0
Education_Num     0
Martial_Status    0
Occupation        0
Relationship      0
Race              0
Sex               0
Capital_Gain      0
Capital_Loss      0
Hours_per_week    0
Country           0
Target            0
dtype: int64

In [20]:
test_df['Workclass'] = test_df['Workclass'].str.replace('-' , '_')
test_df['Education'] = test_df['Education'].str.replace('-' , '_')
test_df['Martial_Status'] = test_df['Martial_Status'].str.replace('-' , '_')
test_df['Occupation'] = test_df['Occupation'].str.replace('-' , '_')
test_df['Relationship'] = test_df['Relationship'].str.replace('-' , '_')
test_df['Race'] = test_df['Race'].str.replace('-' , '_')
test_df['Country'] = test_df['Country'].str.replace('-' , '_').str.replace('&' , '_').str.replace('(' , '_').str.replace(')' , '')

In [21]:
test_df.head()

,Age,Workclass,fnlwgt,Education,Education_Num,Martial_Status,Occupation,Relationship,Race,Sex,Capital_Gain,Capital_Loss,Hours_per_week,Country,Target
1,25,Private,226802.0,11th,7.0,Never_married,Machine_op_inspct,Own_child,Black,Male,0.0,0.0,40.0,United_States,<=50K.
2,38,Private,89814.0,HS_grad,9.0,Married_civ_spouse,Farming_fishing,Husband,White,Male,0.0,0.0,50.0,United_States,<=50K.
3,28,Local_gov,336951.0,Assoc_acdm,12.0,Married_civ_spouse,Protective_serv,Husband,White,Male,0.0,0.0,40.0,United_States,>50K.
4,44,Private,160323.0,Some_college,10.0,Married_civ_spouse,Machine_op_inspct,Husband,Black,Male,7688.0,0.0,40.0,United_States,>50K.
6,34,Private,198693.0,10th,6.0,Never_married,Other_service,Not_in_family,White,Male,0.0,0.0,30.0,United_States,<=50K.

# Data Preprocessing

In [22]:
from sklearn.preprocessing import *

In [23]:
Ordinal_Encoder = OrdinalEncoder(handle_unknown = 'use_encoded_value', unknown_value = -1)

In [24]:
Label_Encoder = LabelEncoder()

In [25]:
Scaler = StandardScaler()

In [26]:
df['Target'] = Label_Encoder.fit_transform(df['Target'])
test_df['Target'] = Label_Encoder.fit_transform(test_df['Target'])

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 30162 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             30162 non-null  int64
 1   Workclass       30162 non-null  object
 2   fnlwgt          30162 non-null  int64
 3   Education       30162 non-null  object
 4   Education_Num   30162 non-null  int64
 5   Martial_Status  30162 non-null  object
 6   Occupation      30162 non-null  object
 7   Relationship    30162 non-null  object
 8   Race            30162 non-null  object
 9   Sex             30162 non-null  object
 10  Capital_Gain    30162 non-null  int64
 11  Capital_Loss    30162 non-null  int64
 12  Hours_per_week  30162 non-null  int64
 13  Country         30162 non-null  object
 14  Target          30162 non-null  int64
dtypes: int64(7), object(8)
memory usage: 3.7+ MB

In [34]:
df.to_csv('training.csv' , index = False)

In [35]:
test_df.to_csv('testing.csv' , index = False)

In [28]:
df.columns

Index(['Age', 'Workclass', 'fnlwgt', 'Education', 'Education_Num',
       'Martial_Status', 'Occupation', 'Relationship', 'Race', 'Sex',
       'Capital_Gain', 'Capital_Loss', 'Hours_per_week', 'Country', 'Target'],
      dtype='object')

In [29]:
from sklearn.preprocessing import OrdinalEncoder

cat_cols = [
    'Workclass','Education','Martial_Status',
    'Occupation','Relationship','Race','Sex','Country'
]

ordinal = OrdinalEncoder(
    handle_unknown='use_encoded_value',
    unknown_value=-1
)

#  FIT ONLY ON TRAIN DATA
ordinal.fit(df[cat_cols])

#  TRANSFORM
df[cat_cols] = ordinal.transform(df[cat_cols])
test_df[cat_cols] = ordinal.transform(test_df[cat_cols])

In [30]:
import joblib
joblib.dump(ordinal, "ordinal_encoder.pkl")

['ordinal_encoder.pkl']

In [39]:
df.head()

,Age,Workclass,fnlwgt,Education,Education_Num,Martial_Status,Occupation,Relationship,Race,Sex,Capital_Gain,Capital_Loss,Hours_per_week,Country,Target
0,39,5,77516,9,13,4,0,1,4,1,2174,0,40,38,0
1,50,4,83311,9,13,2,3,0,4,1,0,0,13,38,0
2,38,2,215646,11,9,0,5,1,4,1,0,0,40,38,0
3,53,2,234721,1,7,2,5,0,2,1,0,0,40,38,0
4,28,2,338409,9,13,2,9,5,2,0,0,0,40,4,0

In [40]:
test_df.head()

,Age,Workclass,fnlwgt,Education,Education_Num,Martial_Status,Occupation,Relationship,Race,Sex,Capital_Gain,Capital_Loss,Hours_per_week,Country,Target
1,25,2,226802.0,1,7.0,4,6,3,2,1,0.0,0.0,40.0,37,0
2,38,2,89814.0,11,9.0,2,4,0,4,1,0.0,0.0,50.0,37,0
3,28,1,336951.0,7,12.0,2,10,0,4,1,0.0,0.0,40.0,37,1
4,44,2,160323.0,15,10.0,2,6,0,2,1,7688.0,0.0,40.0,37,1
6,34,2,198693.0,0,6.0,4,7,1,4,1,0.0,0.0,30.0,37,0

In [31]:
from sklearn.preprocessing import StandardScaler

num_cols = [
    'Age','fnlwgt','Education_Num',
    'Capital_Gain','Capital_Loss','Hours_per_week'
]

scaler = StandardScaler()

# Fit only on train
scaler.fit(df[num_cols])

df[num_cols] = scaler.transform(df[num_cols])
test_df[num_cols] = scaler.transform(test_df[num_cols])

joblib.dump(scaler, "scaler.pkl")

['scaler.pkl']

In [41]:
x_train = df.drop('Target' , axis =1 )
y_train = df['Target']

In [42]:
x_train.shape

(30162, 14)

In [43]:
x_train.shape[1]

14

In [44]:
x_test = test_df.drop('Target' , axis =1 )
y_test = test_df['Target']

In [83]:
x_train = Scaler.fit_transform(x_train)

In [84]:
scaler = joblib.dump(Scaler , 'scaler.pkl')

In [ ]:
x_test = Scaler.transform(x_test)

In [47]:
from keras.models import *
from keras.layers import *

In [ ]:
i = Input(shape = (14, ))

d1 = Dense(128 , activation  = 'relu')(i)
d2 = Dense(64 , activation  = 'relu')(d1)
d3 = Dense(32 , activation  = 'relu')(d2)
o1 = Dense(1 , activation = 'sigmoid')(d3)

model = Model(inputs = i , outputs = o1)

In [ ]:
model.summary()

Model: "functional"

 Layer (type)                     Output Shape                  Param #

 input_layer (InputLayer)         (None, 14)                          0

 dense (Dense)                    (None, 128)                     1,920

 dense_1 (Dense)                  (None, 64)                      8,256

 dense_2 (Dense)                  (None, 32)                      2,080

 dense_3 (Dense)                  (None, 1)                          33

 Total params: 12,289 (48.00 KB)

 Trainable params: 12,289 (48.00 KB)

 Non-trainable params: 0 (0.00 B)

In [ ]:
from keras.losses import *
from keras.optimizers import *

In [ ]:
model.compile(optimizer = Adam(1e-3), loss = 'binary_crossentropy', metrics = ['accuracy'])

In [ ]:
model.fit(x_train , y_train , validation_data = [x_test , y_test] , epochs = 250 , batch_size = 8 , verbose =1 )

Epoch 1/250
3771/3771  13s 3ms/step - accuracy: 0.8172 - loss: 0.3786 - val_accuracy: 0.8433 - val_loss: 0.3363
Epoch 2/250
3771/3771  10s 3ms/step - accuracy: 0.8434 - loss: 0.3297 - val_accuracy: 0.8471 - val_loss: 0.3309
Epoch 3/250
3771/3771  11s 3ms/step - accuracy: 0.8469 - loss: 0.3226 - val_accuracy: 0.8456 - val_loss: 0.3278
Epoch 4/250
3771/3771  11s 3ms/step - accuracy: 0.8484 - loss: 0.3263 - val_accuracy: 0.8458 - val_loss: 0.3271
Epoch 5/250
3771/3771  11s 3ms/step - accuracy: 0.8485 - loss: 0.3218 - val_accuracy: 0.8442 - val_loss: 0.3316
Epoch 6/250
3771/3771  11s 3ms/step - accuracy: 0.8516 - loss: 0.3225 - val_accuracy: 0.8456 - val_loss: 0.3318
Epoch 7/250
3771/3771  11s 3ms/step - accuracy: 0.8497 - loss: 0.3204 - val_accuracy: 0.8443 - val_loss: 0.3284
Epoch 8/250
3771/3771  11s 3ms/step - accuracy: 0.8555 - loss: 0.3111 - val_accuracy: 0.8467 - val_loss: 0.3266
Epoch 9/250
3771/3771  11s 3ms/step - accuracy: 0.8531 - loss: 0.3087 - val_accuracy: 0.8458 - val_loss: 0.3265
Epoch 10/250
3771/3771  20s 3ms/step - accuracy: 0.8604 - loss: 0.3025 - val_accuracy: 0.8469 - val_loss: 0.3272
Epoch 11/250
3771/3771  11s 3ms/step - accuracy: 0.8548 - loss: 0.3080 - val_accuracy: 0.8420 - val_loss: 0.3293
Epoch 12/250
3771/3771  11s 3ms/step - accuracy: 0.8569 - loss: 0.3004 - val_accuracy: 0.8454 - val_loss: 0.3279
Epoch 13/250
3771/3771  11s 3ms/step - accuracy: 0.8565 - loss: 0.3048 - val_accuracy: 0.8478 - val_loss: 0.3337
Epoch 14/250
3771/3771  11s 3ms/step - accuracy: 0.8551 - loss: 0.3055 - val_accuracy: 0.8439 - val_loss: 0.3296
Epoch 15/250
3771/3771  11s 3ms/step - accuracy: 0.8588 - loss: 0.2944 - val_accuracy: 0.8441 - val_loss: 0.3339
Epoch 16/250
3771/3771  11s 3ms/step - accuracy: 0.8637 - loss: 0.2915 - val_accuracy: 0.8440 - val_loss: 0.3372
Epoch 17/250
3771/3771  13s 3ms/step - accuracy: 0.8621 - loss: 0.2907 - val_accuracy: 0.8416 - val_loss: 0.3359
Epoch 18/250
3771/3771  20s 3ms/step - accuracy: 0.8640 - loss: 0.2895 - val_accuracy: 0.8437 - val_loss: 0.3420
Epoch 19/250
3771/3771  12s 3ms/step - accuracy: 0.8618 - loss: 0.2860 - val_accuracy: 0.8421 - val_loss: 0.3425
Epoch 20/250
3771/3771  11s 3ms/step - accuracy: 0.8675 - loss: 0.2826 - val_accuracy: 0.8424 - val_loss: 0.3433
Epoch 21/250
3771/3771  11s 3ms/step - accuracy: 0.8709 - loss: 0.2808 - val_accuracy: 0.8386 - val_loss: 0.3490
Epoch 22/250
3771/3771  11s 3ms/step - accuracy: 0.8677 - loss: 0.2768 - val_accuracy: 0.8356 - val_loss: 0.3526
Epoch 23/250
3771/3771  20s 3ms/step - accuracy: 0.8683 - loss: 0.2774 - val_accuracy: 0.8410 - val_loss: 0.3508
Epoch 24/250
3771/3771  11s 3ms/step - accuracy: 0.8677 - loss: 0.2803 - val_accuracy: 0.8398 - val_loss: 0.3498
Epoch 25/250
3771/3771  11s 3ms/step - accuracy: 0.8698 - loss: 0.2745 - val_accuracy: 0.8402 - val_loss: 0.3620
Epoch 26/250
3771/3771  12s 3ms/step - accuracy: 0.8719 - loss: 0.2751 - val_accuracy: 0.8371 - val_loss: 0.3691
Epoch 27/250
3771/3771  11s 3ms/step - accuracy: 0.8717 - loss: 0.2682 - val_accuracy: 0.8391 - val_loss: 0.3674
Epoch 28/250
3771/3771  11s 3ms/step - accuracy: 0.8720 - loss: 0.2698 - val_accuracy: 0.8343 - val_loss: 0.3812
Epoch 29/250
3771/3771  12s 3ms/step - accuracy: 0.8727 - loss: 0.2686 - val_accuracy: 0.8375 - val_loss: 0.3778
Epoch 30/250
3771/3771  11s 3ms/step - accuracy: 0.8747 - loss: 0.2649 - val_accuracy: 0.8390 - val_loss: 0.3911
Epoch 31/250
3771/3771  11s 3ms/step - accuracy: 0.8753 - loss: 0.2658 - val_accuracy: 0.8371 - val_loss: 0.3928
Epoch 32/250
3771/3771  11s 3ms/step - accuracy: 0.8803 - loss: 0.2531 - val_accuracy: 0.8395 - val_loss: 0.3992
Epoch 33/250
3771/3771  10s 3ms/step - accuracy: 0.8807 - loss: 0.2563 - val_accuracy: 0.8323 - val_loss: 0.3918
Epoch 34/250
3771/3771  22s 3ms/step - accuracy: 0.8793 - loss: 0.2530 - val_accuracy: 0.8345 - val_loss: 0.4030
Epoch 35/250
3771/3771  11s 3ms/step - accuracy: 0.8793 - loss: 0.2514 - val_accuracy: 0.8351 - val_loss: 0.4065
Epoch 36/250
3771/3771  11s 3ms/step - accuracy: 0.8793 - loss: 0.2489 - val_accuracy: 0.8311 - val_loss: 0.4163
Epoch 37/250
3771/3771  12s 3ms/step - accuracy: 0.8792 - loss: 0.2522 - val_accuracy: 0.8331 - val_loss: 0.4286
Epoch 38/250
3771/3771  12s 3ms/step - accuracy: 0.8815 - loss: 0.2477 - val_accuracy: 0.8312 - val_loss: 0.4175
Epoch 39/250
3771/3771  11s 3ms/step - accuracy: 0.8855 - loss: 0.2429 - val_accuracy: 0.8271 - val_loss: 0.4433
Epoch 40/250
3771/3771  11s 3ms/step - accuracy: 0.8873 - loss: 0.2406 - val_accuracy: 0.8333 - val_loss: 0.4339
Epoch 41/250
3771/3771  11s 3ms/step - accuracy: 0.8840 - loss: 0.2436 - val_accuracy: 0.8258 - val_loss: 0.4392
Epoch 42/250
3771/3771  11s 3ms/step - accuracy: 0.8882 - loss: 0.2425 - val_accuracy: 0.8267 - val_loss: 0.4380
Epoch 43/250
3771/3771  12s 3ms/step - accuracy: 0.8868 - loss: 0.2374 - val_accuracy: 0.8304 - val_loss: 0.4485
Epoch 44/250
3771/3771  12s 3ms/step - accuracy: 0.8871 - loss: 0.2382 - val_accuracy: 0.8327 - val_loss: 0.4730
Epoch 45/250
3771/3771  12s 3ms/step - accuracy: 0.8903 - loss: 0.2355 - val_accuracy: 0.8318 - val_loss: 0.4707
Epoch 46/250
3771/3771  20s 3ms/step - accuracy: 0.8872 - loss: 0.2379 - val_accuracy: 0.8313 - val_loss: 0.4967
Epoch 47/250
3771/3771  11s 3ms/step - accuracy: 0.8902 - loss: 0.2343 - val_accuracy: 0.8278 - val_loss: 0.4546
Epoch 48/250
3771/3771  11s 3ms/step - accuracy: 0.8919 - loss: 0.2295 - val_accuracy: 0.8287 - val_loss: 0.4832
Epoch 49/250
3771/3771  21s 3ms/step - accuracy: 0.8880 - loss: 0.2315 - val_accuracy: 0.8265 - val_loss: 0.4810
Epoch 50/250
3771/3771  11s 3ms/step - accuracy: 0.8911 - loss: 0.2302 - val_accuracy: 0.8282 - val_loss: 0.4985
Epoch 51/250
3771/3771  11s 3ms/step - accuracy: 0.8902 - loss: 0.2355 - val_accuracy: 0.8280 - val_loss: 0.4943
Epoch 52/250
3771/3771  11s 3ms/step - accuracy: 0.8942 - loss: 0.2265 - val_accuracy: 0.8299 - val_loss: 0.5078
Epoch 53/250
3771/3771  11s 3ms/step - accuracy: 0.8964 - loss: 0.2246 - val_accuracy: 0.8305 - val_loss: 0.4911
Epoch 54/250
3771/3771  12s 3ms/step - accuracy: 0.8939 - loss: 0.2242 - val_accuracy: 0.8292 - val_loss: 0.5186
Epoch 55/250
3771/3771  11s 3ms/step - accuracy: 0.8916 - loss: 0.2278 - val_accuracy: 0.8270 - val_loss: 0.5172
Epoch 56/250
3771/3771  11s 3ms/step - accuracy: 0.8929 - loss: 0.2225 - val_accuracy: 0.8235 - val_loss: 0.5583
Epoch 57/250
3771/3771  10s 3ms/step - accuracy: 0.8937 - loss: 0.2271 - val_accuracy: 0.8253 - val_loss: 0.5347
Epoch 58/250
3771/3771  11s 3ms/step - accuracy: 0.8948 - loss: 0.2212 - val_accuracy: 0.8268 - val_loss: 0.5433
Epoch 59/250
3771/3771  11s 3ms/step - accuracy: 0.8931 - loss: 0.2242 - val_accuracy: 0.8270 - val_loss: 0.5536
Epoch 60/250
3771/3771  11s 3ms/step - accuracy: 0.8969 - loss: 0.2176 - val_accuracy: 0.8278 - val_loss: 0.5941
Epoch 61/250
3771/3771  12s 3ms/step - accuracy: 0.8982 - loss: 0.2164 - val_accuracy: 0.8260 - val_loss: 0.5714
Epoch 62/250
3771/3771  14s 4ms/step - accuracy: 0.8973 - loss: 0.2164 - val_accuracy: 0.8236 - val_loss: 0.5527
Epoch 63/250
3771/3771  12s 3ms/step - accuracy: 0.8960 - loss: 0.2181 - val_accuracy: 0.8276 - val_loss: 0.5727
Epoch 64/250
3771/3771  12s 3ms/step - accuracy: 0.8987 - loss: 0.2166 - val_accuracy: 0.8239 - val_loss: 0.5979
Epoch 65/250
3771/3771  12s 3ms/step - accuracy: 0.9011 - loss: 0.2136 - val_accuracy: 0.8260 - val_loss: 0.5946
Epoch 66/250
3771/3771  11s 3ms/step - accuracy: 0.8973 - loss: 0.2228 - val_accuracy: 0.8229 - val_loss: 0.6239
Epoch 67/250
3771/3771  13s 3ms/step - accuracy: 0.8982 - loss: 0.2152 - val_accuracy: 0.8248 - val_loss: 0.5740
Epoch 68/250
3771/3771  11s 3ms/step - accuracy: 0.9047 - loss: 0.2071 - val_accuracy: 0.8232 - val_loss: 0.5906
Epoch 69/250
3771/3771  12s 3ms/step - accuracy: 0.9013 - loss: 0.2055 - val_accuracy: 0.8232 - val_loss: 0.6005
Epoch 70/250
3771/3771  13s 3ms/step - accuracy: 0.9005 - loss: 0.2078 - val_accuracy: 0.8240 - val_loss: 0.6128
Epoch 71/250
3771/3771  11s 3ms/step - accuracy: 0.9052 - loss: 0.2037 - val_accuracy: 0.8238 - val_loss: 0.5808
Epoch 72/250
3771/3771  13s 3ms/step - accuracy: 0.9009 - loss: 0.2134 - val_accuracy: 0.8264 - val_loss: 0.6193
Epoch 73/250
3771/3771  19s 3ms/step - accuracy: 0.9049 - loss: 0.2042 - val_accuracy: 0.8267 - val_loss: 0.6337
Epoch 74/250
3771/3771  11s 3ms/step - accuracy: 0.9013 - loss: 0.2069 - val_accuracy: 0.8224 - val_loss: 0.6669
Epoch 75/250
3771/3771  11s 3ms/step - accuracy: 0.9019 - loss: 0.2062 - val_accuracy: 0.8222 - val_loss: 0.6931
Epoch 76/250
3771/3771  11s 3ms/step - accuracy: 0.9037 - loss: 0.2062 - val_accuracy: 0.8238 - val_loss: 0.6551
Epoch 77/250
3771/3771  20s 3ms/step - accuracy: 0.9023 - loss: 0.2052 - val_accuracy: 0.8195 - val_loss: 0.6615
Epoch 78/250
3771/3771  11s 3ms/step - accuracy: 0.9029 - loss: 0.2060 - val_accuracy: 0.8228 - val_loss: 0.6740
Epoch 79/250
3771/3771  21s 3ms/step - accuracy: 0.9067 - loss: 0.1996 - val_accuracy: 0.8223 - val_loss: 0.6797
Epoch 80/250
3771/3771  11s 3ms/step - accuracy: 0.9057 - loss: 0.1989 - val_accuracy: 0.8265 - val_loss: 0.6711
Epoch 81/250
3771/3771  11s 3ms/step - accuracy: 0.9048 - loss: 0.1994 - val_accuracy: 0.8224 - val_loss: 0.6890
Epoch 82/250
3771/3771  11s 3ms/step - accuracy: 0.9082 - loss: 0.1973 - val_accuracy: 0.8282 - val_loss: 0.7266
Epoch 83/250
3771/3771  11s 3ms/step - accuracy: 0.9055 - loss: 0.2000 - val_accuracy: 0.8220 - val_loss: 0.6914
Epoch 84/250
3771/3771  11s 3ms/step - accuracy: 0.9067 - loss: 0.1976 - val_accuracy: 0.8190 - val_loss: 0.6840
Epoch 85/250
3771/3771  13s 3ms/step - accuracy: 0.9057 - loss: 0.1974 - val_accuracy: 0.8203 - val_loss: 0.7389
Epoch 86/250
3771/3771  11s 3ms/step - accuracy: 0.9064 - loss: 0.2004 - val_accuracy: 0.8198 - val_loss: 0.6942
Epoch 87/250
3771/3771  11s 3ms/step - accuracy: 0.9069 - loss: 0.1981 - val_accuracy: 0.8177 - val_loss: 0.7558
Epoch 88/250
3771/3771  11s 3ms/step - accuracy: 0.9091 - loss: 0.1910 - val_accuracy: 0.8203 - val_loss: 0.7251
Epoch 89/250
3771/3771  11s 3ms/step - accuracy: 0.9092 - loss: 0.1948 - val_accuracy: 0.8207 - val_loss: 0.7037
Epoch 90/250
3771/3771  12s 3ms/step - accuracy: 0.9098 - loss: 0.1914 - val_accuracy: 0.8189 - val_loss: 0.7657
Epoch 91/250
3771/3771  12s 3ms/step - accuracy: 0.9100 - loss: 0.1951 - val_accuracy: 0.8223 - val_loss: 0.7510
Epoch 92/250
3771/3771  11s 3ms/step - accuracy: 0.9102 - loss: 0.1902 - val_accuracy: 0.8220 - val_loss: 0.7692
Epoch 93/250
3771/3771  12s 3ms/step - accuracy: 0.9133 - loss: 0.1878 - val_accuracy: 0.8215 - val_loss: 0.7191
Epoch 94/250
3771/3771  12s 3ms/step - accuracy: 0.9102 - loss: 0.1888 - val_accuracy: 0.8217 - val_loss: 0.7422
Epoch 95/250
3771/3771  12s 3ms/step - accuracy: 0.9105 - loss: 0.1872 - val_accuracy: 0.8234 - val_loss: 0.7587
Epoch 96/250
3771/3771  11s 3ms/step - accuracy: 0.9103 - loss: 0.1901 - val_accuracy: 0.8217 - val_loss: 0.7651
Epoch 97/250
3771/3771  11s 3ms/step - accuracy: 0.9113 - loss: 0.1889 - val_accuracy: 0.8201 - val_loss: 0.7973
Epoch 98/250
3771/3771  12s 3ms/step - accuracy: 0.9109 - loss: 0.1871 - val_accuracy: 0.8230 - val_loss: 0.7625
Epoch 99/250
3771/3771  12s 3ms/step - accuracy: 0.9106 - loss: 0.1880 - val_accuracy: 0.8254 - val_loss: 0.7693
Epoch 100/250
3771/3771  20s 3ms/step - accuracy: 0.9135 - loss: 0.1821 - val_accuracy: 0.8185 - val_loss: 0.7636
Epoch 101/250
3771/3771  12s 3ms/step - accuracy: 0.9108 - loss: 0.1872 - val_accuracy: 0.8235 - val_loss: 0.7972
Epoch 102/250
3771/3771  12s 3ms/step - accuracy: 0.9112 - loss: 0.1879 - val_accuracy: 0.8158 - val_loss: 0.8353
Epoch 103/250
3771/3771  12s 3ms/step - accuracy: 0.9124 - loss: 0.1818 - val_accuracy: 0.8139 - val_loss: 0.8404
Epoch 104/250
3771/3771  12s 3ms/step - accuracy: 0.9123 - loss: 0.1887 - val_accuracy: 0.8189 - val_loss: 0.8067
Epoch 105/250
3771/3771  11s 3ms/step - accuracy: 0.9108 - loss: 0.1868 - val_accuracy: 0.8207 - val_loss: 0.8025
Epoch 106/250
3771/3771  23s 4ms/step - accuracy: 0.9129 - loss: 0.1823 - val_accuracy: 0.8220 - val_loss: 0.8394
Epoch 107/250
3771/3771  11s 3ms/step - accuracy: 0.9134 - loss: 0.1817 - val_accuracy: 0.8185 - val_loss: 0.8369
Epoch 108/250
3771/3771  11s 3ms/step - accuracy: 0.9142 - loss: 0.1844 - val_accuracy: 0.8192 - val_loss: 0.8387
Epoch 109/250
3771/3771  12s 3ms/step - accuracy: 0.9091 - loss: 0.1855 - val_accuracy: 0.8217 - val_loss: 0.8485
Epoch 110/250
3771/3771  12s 3ms/step - accuracy: 0.9131 - loss: 0.1842 - val_accuracy: 0.8179 - val_loss: 0.8496
Epoch 111/250
3771/3771  12s 3ms/step - accuracy: 0.9123 - loss: 0.1833 - val_accuracy: 0.8190 - val_loss: 0.8524
Epoch 112/250
3771/3771  12s 3ms/step - accuracy: 0.9139 - loss: 0.1872 - val_accuracy: 0.8183 - val_loss: 0.9037
Epoch 113/250
3771/3771  12s 3ms/step - accuracy: 0.9134 - loss: 0.1814 - val_accuracy: 0.8205 - val_loss: 0.9004
Epoch 114/250
3771/3771  12s 3ms/step - accuracy: 0.9152 - loss: 0.1830 - val_accuracy: 0.8192 - val_loss: 0.8410
Epoch 115/250
3771/3771  12s 3ms/step - accuracy: 0.9167 - loss: 0.1767 - val_accuracy: 0.8234 - val_loss: 0.8766
Epoch 116/250
3771/3771  12s 3ms/step - accuracy: 0.9146 - loss: 0.1816 - val_accuracy: 0.8247 - val_loss: 0.9331
Epoch 117/250
3771/3771  12s 3ms/step - accuracy: 0.9180 - loss: 0.1789 - val_accuracy: 0.8210 - val_loss: 0.9346
Epoch 118/250
3771/3771  13s 4ms/step - accuracy: 0.9152 - loss: 0.1841 - val_accuracy: 0.8159 - val_loss: 0.8843
Epoch 119/250
3771/3771  19s 3ms/step - accuracy: 0.9129 - loss: 0.1813 - val_accuracy: 0.8203 - val_loss: 0.8672
Epoch 120/250
3771/3771  12s 3ms/step - accuracy: 0.9181 - loss: 0.1725 - val_accuracy: 0.8209 - val_loss: 0.9233
Epoch 121/250
3771/3771  14s 4ms/step - accuracy: 0.9165 - loss: 0.1805 - val_accuracy: 0.8213 - val_loss: 0.9206
Epoch 122/250
3771/3771  12s 3ms/step - accuracy: 0.9154 - loss: 0.1756 - val_accuracy: 0.8188 - val_loss: 0.9159
Epoch 123/250
3771/3771  12s 3ms/step - accuracy: 0.9187 - loss: 0.1725 - val_accuracy: 0.8170 - val_loss: 0.9287
Epoch 124/250
3771/3771  12s 3ms/step - accuracy: 0.9187 - loss: 0.1714 - val_accuracy: 0.8230 - val_loss: 0.9890
Epoch 125/250
3771/3771  20s 3ms/step - accuracy: 0.9150 - loss: 0.1777 - val_accuracy: 0.8215 - val_loss: 0.9238
Epoch 126/250
3771/3771  11s 3ms/step - accuracy: 0.9157 - loss: 0.1771 - val_accuracy: 0.8216 - val_loss: 0.9507
Epoch 127/250
3771/3771  11s 3ms/step - accuracy: 0.9140 - loss: 0.1780 - val_accuracy: 0.8197 - val_loss: 0.9109
Epoch 128/250
3771/3771  22s 3ms/step - accuracy: 0.9201 - loss: 0.1689 - val_accuracy: 0.8202 - val_loss: 0.9551
Epoch 129/250
3771/3771  12s 3ms/step - accuracy: 0.9155 - loss: 0.1789 - val_accuracy: 0.8179 - val_loss: 0.9550
Epoch 130/250
3771/3771  12s 3ms/step - accuracy: 0.9198 - loss: 0.1752 - val_accuracy: 0.8147 - val_loss: 0.9207
Epoch 131/250
3771/3771  11s 3ms/step - accuracy: 0.9194 - loss: 0.1677 - val_accuracy: 0.8180 - val_loss: 0.9457
Epoch 132/250
3771/3771  12s 3ms/step - accuracy: 0.9181 - loss: 0.1717 - val_accuracy: 0.8222 - val_loss: 0.9944
Epoch 133/250
3771/3771  12s 3ms/step - accuracy: 0.9196 - loss: 0.1701 - val_accuracy: 0.8210 - val_loss: 0.9772
Epoch 134/250
3771/3771  12s 3ms/step - accuracy: 0.9198 - loss: 0.1699 - val_accuracy: 0.8135 - val_loss: 0.9622
Epoch 135/250
3771/3771  12s 3ms/step - accuracy: 0.9194 - loss: 0.1688 - val_accuracy: 0.8217 - val_loss: 0.9836
Epoch 136/250
3771/3771  12s 3ms/step - accuracy: 0.9219 - loss: 0.1870 - val_accuracy: 0.8201 - val_loss: 0.9930
Epoch 137/250
3771/3771  11s 3ms/step - accuracy: 0.9190 - loss: 0.1714 - val_accuracy: 0.8220 - val_loss: 1.0123
Epoch 138/250
3771/3771  21s 3ms/step - accuracy: 0.9182 - loss: 0.1731 - val_accuracy: 0.8161 - val_loss: 0.9648
Epoch 139/250
3771/3771  11s 3ms/step - accuracy: 0.9206 - loss: 0.1696 - val_accuracy: 0.8203 - val_loss: 1.0488
Epoch 140/250
3771/3771  12s 3ms/step - accuracy: 0.9209 - loss: 0.1673 - val_accuracy: 0.8114 - val_loss: 1.0224
Epoch 141/250
3771/3771  12s 3ms/step - accuracy: 0.9210 - loss: 0.1651 - val_accuracy: 0.8162 - val_loss: 1.0884
Epoch 142/250
3771/3771  12s 3ms/step - accuracy: 0.9219 - loss: 0.1649 - val_accuracy: 0.8172 - val_loss: 0.9994
Epoch 143/250
3771/3771  12s 3ms/step - accuracy: 0.9199 - loss: 0.1648 - val_accuracy: 0.8183 - val_loss: 0.9966
Epoch 144/250
3771/3771  11s 3ms/step - accuracy: 0.9178 - loss: 0.1736 - val_accuracy: 0.8168 - val_loss: 0.9920
Epoch 145/250
3771/3771  12s 3ms/step - accuracy: 0.9184 - loss: 0.1689 - val_accuracy: 0.8166 - val_loss: 1.0983
Epoch 146/250
3771/3771  12s 3ms/step - accuracy: 0.9221 - loss: 0.1637 - val_accuracy: 0.8163 - val_loss: 1.0993
Epoch 147/250
3771/3771  11s 3ms/step - accuracy: 0.9219 - loss: 0.1664 - val_accuracy: 0.8157 - val_loss: 1.0339
Epoch 148/250
3771/3771  14s 4ms/step - accuracy: 0.9227 - loss: 0.1648 - val_accuracy: 0.8166 - val_loss: 1.0358
Epoch 149/250
3771/3771  12s 3ms/step - accuracy: 0.9235 - loss: 0.1653 - val_accuracy: 0.8204 - val_loss: 1.0734
Epoch 150/250
3771/3771  21s 3ms/step - accuracy: 0.9252 - loss: 0.1614 - val_accuracy: 0.8165 - val_loss: 1.0853
Epoch 151/250
3771/3771  12s 3ms/step - accuracy: 0.9222 - loss: 0.1609 - val_accuracy: 0.8186 - val_loss: 1.1170
Epoch 152/250
3771/3771  12s 3ms/step - accuracy: 0.9240 - loss: 0.1682 - val_accuracy: 0.8192 - val_loss: 1.0661
Epoch 153/250
3771/3771  12s 3ms/step - accuracy: 0.9210 - loss: 0.1637 - val_accuracy: 0.8140 - val_loss: 1.1357
Epoch 154/250
3771/3771  12s 3ms/step - accuracy: 0.9219 - loss: 0.1654 - val_accuracy: 0.8197 - val_loss: 1.1453
Epoch 155/250
3771/3771  12s 3ms/step - accuracy: 0.9230 - loss: 0.1623 - val_accuracy: 0.8195 - val_loss: 1.1258
Epoch 156/250
3771/3771  12s 3ms/step - accuracy: 0.9225 - loss: 0.1670 - val_accuracy: 0.8171 - val_loss: 1.2006
Epoch 157/250
3771/3771  22s 3ms/step - accuracy: 0.9215 - loss: 0.1729 - val_accuracy: 0.8208 - val_loss: 1.1366
Epoch 158/250
3771/3771  12s 3ms/step - accuracy: 0.9253 - loss: 0.1636 - val_accuracy: 0.8201 - val_loss: 1.1619
Epoch 159/250
3771/3771  13s 4ms/step - accuracy: 0.9214 - loss: 0.1678 - val_accuracy: 0.8225 - val_loss: 1.2102
Epoch 160/250
3771/3771  13s 3ms/step - accuracy: 0.9229 - loss: 0.1636 - val_accuracy: 0.8185 - val_loss: 1.1386
Epoch 161/250
3771/3771  11s 3ms/step - accuracy: 0.9213 - loss: 0.1688 - val_accuracy: 0.8226 - val_loss: 1.2180
Epoch 162/250
3771/3771  20s 3ms/step - accuracy: 0.9255 - loss: 0.1582 - val_accuracy: 0.8177 - val_loss: 1.1356
Epoch 163/250
3771/3771  12s 3ms/step - accuracy: 0.9236 - loss: 0.1617 - val_accuracy: 0.8214 - val_loss: 1.2033
Epoch 164/250
3771/3771  15s 4ms/step - accuracy: 0.9239 - loss: 0.1717 - val_accuracy: 0.8197 - val_loss: 1.1028
Epoch 165/250
3771/3771  11s 3ms/step - accuracy: 0.9231 - loss: 0.1671 - val_accuracy: 0.8199 - val_loss: 1.1141
Epoch 166/250
3771/3771  12s 3ms/step - accuracy: 0.9259 - loss: 0.1556 - val_accuracy: 0.8165 - val_loss: 1.1539
Epoch 167/250
3771/3771  12s 3ms/step - accuracy: 0.9260 - loss: 0.1572 - val_accuracy: 0.8158 - val_loss: 1.1692
Epoch 168/250
3771/3771  12s 3ms/step - accuracy: 0.9250 - loss: 0.1618 - val_accuracy: 0.8233 - val_loss: 1.2200
Epoch 169/250
3771/3771  12s 3ms/step - accuracy: 0.9250 - loss: 0.1591 - val_accuracy: 0.8177 - val_loss: 1.1754
Epoch 170/250
3771/3771  12s 3ms/step - accuracy: 0.9214 - loss: 0.1630 - val_accuracy: 0.8168 - val_loss: 1.1532
Epoch 171/250
3771/3771  13s 3ms/step - accuracy: 0.9271 - loss: 0.1587 - val_accuracy: 0.8196 - val_loss: 1.1821
Epoch 172/250
3771/3771  13s 3ms/step - accuracy: 0.9266 - loss: 0.1602 - val_accuracy: 0.8230 - val_loss: 1.2081
Epoch 173/250
3771/3771  14s 4ms/step - accuracy: 0.9266 - loss: 0.1547 - val_accuracy: 0.8163 - val_loss: 1.1613
Epoch 174/250
3771/3771  12s 3ms/step - accuracy: 0.9247 - loss: 0.1576 - val_accuracy: 0.8187 - val_loss: 1.1700
Epoch 175/250
3771/3771  12s 3ms/step - accuracy: 0.9245 - loss: 0.1552 - val_accuracy: 0.8167 - val_loss: 1.1493
Epoch 176/250
3771/3771  12s 3ms/step - accuracy: 0.9273 - loss: 0.1564 - val_accuracy: 0.8202 - val_loss: 1.1598
Epoch 177/250

In [ ]:
y_pred = model.predict(x_test)

471/471  1s 1ms/step

In [ ]:
import numpy as np

y_pred = (y_pred >= 0.5).astype(int)

In [ ]:
from sklearn.metrics import *

In [ ]:
accuracy_score(y_test , y_pred)

0.8088977423638778

In [ ]:
print(classification_report(y_test , y_pred))

              precision    recall  f1-score   support

           0       0.87      0.88      0.87     11360
           1       0.62      0.59      0.60      3700

    accuracy                           0.81     15060
   macro avg       0.74      0.74      0.74     15060
weighted avg       0.81      0.81      0.81     15060

In [ ]:
print(confusion_matrix(y_test , y_pred))

[[9992 1368]
 [1510 2190]]

In [ ]:
model.save('Adult_Census.h5')
model.save('Adult_Census.keras')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.