In [15]:
import pandas as pd

In [16]:
df = pd.read_csv('ames_model.csv')

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2930 entries, 0 to 2929
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Overall_Qual    2930 non-null   int64
 1   Year_Built      2930 non-null   int64
 2   Year_Remod_Add  2930 non-null   int64
 3   Mas_Vnr_Area    2930 non-null   float64
 4   Exter_Qual      2930 non-null   object
 5   Bsmt_Qual       2930 non-null   object
 6   BsmtFin_SF_1    2930 non-null   float64
 7   Total_Bsmt_SF   2930 non-null   float64
 8   Heating_QC      2930 non-null   object
 9   first_Flr_SF    2930 non-null   int64
 10  Gr_Liv_Area     2930 non-null   int64
 11  Full_Bath       2930 non-null   int64
 12  Kitchen_Qual    2930 non-null   object
 13  TotRms_AbvGrd   2930 non-null   int64
 14  Fireplaces      2930 non-null   int64
 15  Fireplace_Qu    2930 non-null   object
 16  Garage_Yr_Blt   2930 non-null   float64
 17  Garage_Finish   2930 non-null   object
 18  Garage_Cars     2930 non-null   int64
 19  Garage_Area     2930 non-null   float64
 20  SalePrice       2930 non-null   int64
dtypes: float64(5), int64(10), object(6)
memory usage: 480.8+ KB

In [18]:
df['Exter_Qual'].value_counts()

Exter_Qual
TA    1799
Gd     989
Ex     107
Fa      35
Name: count, dtype: int64

In [19]:
df.columns

Index(['Overall_Qual', 'Year_Built', 'Year_Remod_Add', 'Mas_Vnr_Area',
       'Exter_Qual', 'Bsmt_Qual', 'BsmtFin_SF_1', 'Total_Bsmt_SF',
       'Heating_QC', 'first_Flr_SF', 'Gr_Liv_Area', 'Full_Bath',
       'Kitchen_Qual', 'TotRms_AbvGrd', 'Fireplaces', 'Fireplace_Qu',
       'Garage_Yr_Blt', 'Garage_Finish', 'Garage_Cars', 'Garage_Area',
       'SalePrice'],
      dtype='object')

In [20]:
df['Fireplace_Qu'].value_counts()

Fireplace_Qu
Unknown    1422
Gd          744
TA          600
Fa           75
Po           46
Ex           43
Name: count, dtype: int64

In [21]:
from sklearn.preprocessing import OrdinalEncoder

In [22]:
ol = OrdinalEncoder(handle_unknown='use_encoded_value', unknown_value = -1)

In [23]:
df['Exter_Qual'] = ol.fit_transform(df[['Exter_Qual']])